# Unreal Gernated Files #
#########################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*/Content/StarterContetnt


# VC Genterated Files #
#######################

*.db
*.sdf
*.VC.db